body {background-color:lightblue;
    margin: 20px 10px 20px 10px;
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

h1 {
    font-size: 70px;
}

img{
    max-width: 150%;
    max-height: 150%;
}

.text {
    font-size: 30px;
    white-space: normal;
    justify-content: flex-start;
    text-align: left;


}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #66a263;
}

.nav-list {
    list-style-type: none;
    display: inline-block;
    padding-right: 10%;
    width: auto;
    margin: 1;
    padding: 1;
    justify-content: space-around;
    display: flex;
}

.nav-list li {
    margin: 0 10px;
    color: white;
    justify-content: space-around;
    display: flex;
}


h2 {font-weight: bolder;
    font-size: 50px; 
}

.list1 {
    font-size: 30px;
    size: 40px;
}

.list2 {
    font-size: 30px;
    size: 40px;
}

ol li{
    font-size: 30px;
}

ul li{
    font-size: 30px;
}
